<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pokeranch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >  
        
        <activity
            android:name="com.example.menugan.MenuCoy"
            android:noHistory="true"
            android:label="Menu Utama" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN5" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.menustore.MainActivityMenuStore"
            android:noHistory="true"
            android:label="Store" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN3" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.menucombinatorium.MenuCombinatorium"
            android:label="Combinatorium"
            android:noHistory="true"
            android:parentActivityName="android.app.ListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN1" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.drivermenu.DriverActivity"            
            android:label="Driver Menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN1" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity            
            android:name="com.example.menuhome.MenuHomeActivity"
            android:noHistory="true"
            android:label="Menu Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN6" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pokeranch.GV"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pokeranch.maps.CityActivity"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CITY" />
                <category android:name="android.intent.category.MAP" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pokeranch.maps.HomeActivity"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.HOME" />
                <category android:name="android.intent.category.MAP" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pokeranch.maps.StoreActivity"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.STORE" />
                <category android:name="android.intent.category.MAP" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pokeranch.maps.StadiumActivity"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.STADIUM" />
                <category android:name="android.intent.category.MAP" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pokeranch.maps.CombinatoriumActivity"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.COMBINATORIUM" />
                <category android:name="android.intent.category.MAP" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pokeranch.maps.LuarActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN2" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.pokeranch.Cover"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN2" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>